[submodule "utils/schema/lib/tei_stylesheets"]
	path = utils/schema/lib/tei_stylesheets
	url = https://github.com/TEIC/Stylesheets.git
	branch = release-7.57.1
    shallow = true
[submodule "src/docs/assets/fonts/Lexia"]
	path = src/docs/assets/fonts/Lexia
	url = https://github.com/SSRQ-SDS-FDS/ssrq-lexia.git
