<?xml version="1.0" encoding="UTF-8"?>
<?xml-model
        href="http://jenkins.tei-c.org/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/release/xml/tei/odd/p5.nvdl"
        type="application/xml"
        schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>
<elementSpec xmlns="http://www.tei-c.org/ns/1.0"
             ident="app"
             module="textcrit"
             mode="change">
    <desc xml:lang="de" versionDate="2023-07-13">Enthält einen Apparateintrag.</desc>
    <desc xml:lang="en" versionDate="2023-07-13">Contains a apparatus entry.</desc>
    <desc xml:lang="fr" versionDate="2023-07-13">Contient une entrée d'appareil.</desc>
    <desc xml:lang="it" versionDate="2023-07-13">Contiene una voce dell'apparato.</desc>
    <classes mode="replace">
        <memberOf key="model.global.edit"/>
    </classes>
    <content>
        <sequence>
            <elementRef key="lem"/>
            <elementRef key="rdg" maxOccurs="unbounded"/>
        </sequence>
    </content>
    <attList>
        <attDef ident="from" mode="delete"/>
        <attDef ident="loc" mode="delete"/>
        <attDef ident="to" mode="delete"/>
        <attDef ident="type" mode="delete"/>
    </attList>
    <exemplum xml:lang="de" type="ssrq-doc-example" versionDate="2023-05-17">
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
            <app>
                <lem>lxxxvij</lem>
                <rdg wit="ad28656b-5c8d-459c-afb4-3e6ddf70810d ad28656b-5c8d-459c-afb4-3e6ddf70810e">
                    quadringentesimo
                </rdg>
            </app>
        </egXML>
    </exemplum>
    <exemplum xml:lang="fr" type="ssrq-doc-example" versionDate="2023-05-17">
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
            <app>
                <lem>lxxxvij</lem>
                <rdg wit="ad28656b-5c8d-459c-afb4-3e6ddf70810d ad28656b-5c8d-459c-afb4-3e6ddf70810e">
                    quadringentesimo
                </rdg>
            </app>
        </egXML>
    </exemplum>
    <exemplum xml:lang="de" type="ssrq-doc-example" versionDate="2023-05-17">
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
            <app>
                <lem>lxxxvij</lem>
                <rdg wit="ad28656b-5c8d-459c-afb4-3e6ddf70810d ad28656b-5c8d-459c-afb4-3e6ddf70810e">
                    quadringentesimo
                </rdg>
                <rdg wit="ad28656b-5c8d-459c-afb4-3e6ddf70810f">lxxxiiij</rdg>
            </app>
        </egXML>
    </exemplum>
    <exemplum xml:lang="fr" type="ssrq-doc-example" versionDate="2023-05-17">
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
            <app>
                <lem>lxxxvij</lem>
                <rdg wit="ad28656b-5c8d-459c-afb4-3e6ddf70810d ad28656b-5c8d-459c-afb4-3e6ddf70810e">
                    quadringentesimo
                </rdg>
                <rdg wit="ad28656b-5c8d-459c-afb4-3e6ddf70810f">lxxxiiij</rdg>
            </app>
        </egXML>
    </exemplum>
    <remarks xml:lang="de" versionDate="2023-07-13">
        <p>Ermöglicht verschiedene Lesarten eines Wortes oder eines Textabschnittes anzuzeigen unter Bezugnahme auf ein
            anderes Dokument oder mehrere andere Dokumente. Muss sich unmittelbar, ohne Leerschlag, an das Wort
            anschliessen.
        </p>
        <p>Existieren von einem Stück mehrere Textzeugen (Originale, Kopien) kann bei einer Fehlstelle der andere
            Textzeuge hinzugezogen werden. Inhaltliche Abweichungen der anderen Originale oder Abschriften von der
            Editionsvorlage müssen zwingend angemerkt werden.
            Ebenso lassen sich bei zwei Originalen hiermit die Abweichungen auszeichnen, sodass nicht beide Versionen
            transkribiert werden müssen.
        </p>
        <p>Bei kurzen Nachträgen, z. B. einem halben Satz, kann man sich mit einem leeren <gi>lem</gi> behelfen (vgl.
            Beispiel unten). Bei längeren Nachträgen oder Zusätzen aus anderen Textzeugen empfiehlt es sich indessen,
            ein eigenes Stück dafür zu erstellen. Die bereits edierten Texte eines früheren Textzeugen können mit
            <gi>gap</gi>
            weggelassen werden. Es muss jedoch mit <att>source</att> auf den edierten Text, der weggelassen wird,
            referenziert werden. Eine Bemerkung (Kommentar in <gi>back</gi>) ist notwendig.
            Ein leeres <gi>lem</gi> kann auch verwendet werden, wenn bei einem Original ein Wort oder Satzteil
            weggelassen wurde, der in einem Entwurf noch gewesen enthalten ist.
        </p>
        <p>Wenn eine Zweitausfertigung oder Abschrift eine signifikante Auslassung aufweist (dass also ein Wort oder
            Satzteil weggelassen wurde), so kann dafür ein leeres <gi>rdg</gi> gesetzt werden (vgl. Beispiel unten).
            Für alternative Lesungen aus anderen Editionen bzw. moderner Literatur verwendet man
            hingegen <gi>note</gi> mit <gi>quote</gi>. Abweichungen der Transkription von bereits edierten
            Quellenstücken werden in der Regel nicht angegeben. Wenn die Neuedition sich in einem inhaltlichen Punkt
            bzw. einer Lesung wesentlich unterscheidet, ist eine <gi>note</gi> notwendig. Abweichungen der Schreibung
            eines weiteren Originals oder Abschriften sind ebenfalls nur anzumerken, wenn sie weitere Erkenntnisse
            liefern.
        </p>
        <p>Bei mehreren vorhandenen Originalen sollten wenn möglich die Kriterien, die zur Wahl der Editionsvorlage
            beitrugen, in einem Kommentar in <gi>back</gi> dargelegt werden. Dasselbe gilt im Falle von Abschriften.
            Achtung: Reverse gelten als eigenständige Überlieferung.
        </p>
        <p>Wenn eine Stelle eines Originals wegen einer Beschädigung nicht mehr lesbar ist, kann der Textverlust mit
            Hilfe eines anderen Textzeugen ergänzt werden. Dafür verwenden wir nicht <gi>app</gi> und <gi>rdg</gi>,
            sondern <gi>damage</gi> zusammen mit <gi>supplied</gi>.
        </p>
    </remarks>
    <remarks xml:lang="en" versionDate="2023-07-13">
        <p>Allows you to display different readings of a word or a section of text with reference to another document or
            documents. Must immediately follow the word without spaces.
        </p>
        <p>If there are several text witnesses (originals, copies) of a piece, the other text witness can be consulted
            in the event of a gap. Deviations in content of the other originals or copies from the edition template must
            be noted. The deviations can also be marked with two originals, so that both versions do not have to be
            transcribed.
        </p>
        <p>For short supplements, e.g. B. half a sentence, you can get by with an empty <gi>lem</gi> (see example
            below). In the case of longer supplements or additions from other text sources, however, it is advisable to
            create a separate piece for them. The already edited texts of an earlier text witness can be omitted
            with <gi>gap</gi>. However, it must be referenced with <att>source</att> to the edited text that is omitted.
            A remark (comment in <gi>back</gi>) is required. An empty <gi>lem</gi> can also be used when an original has
            omitted a word or phrase that was included in a draft.
        </p>
        <p>If a duplicate or transcript has a significant omission (that is, a word or phrase has been omitted), an
            empty <gi>rdg</gi> may be substituted (see example below). For alternative readings from other editions or
            modern literature, on the other hand, <gi>note</gi> with <gi>quote</gi> is used. As a rule, deviations in
            the transcription from source pieces that have already been edited are not indicated. If the new edition
            differs significantly in terms of content or reading, a <gi>note</gi> is required. Deviations in the
            spelling of another original or copies are also only to be noted if they provide further insights.
        </p>
        <p>If there are several originals, the criteria that contributed to the choice of the edition template should be
            explained in a comment in <gi>back</gi> if possible. The same applies in the case of copies. Caution:
            Reverses are considered independent lore.
        </p>
        <p>If a part of an original is no longer legible due to damage, the text loss can be supplemented with the help
            of another text witness. Instead of using <gi>app</gi> and <gi>rdg</gi>, we use <gi>damage</gi> together
            with <gi>supplied</gi>.
        </p>
    </remarks>
    <remarks xml:lang="fr" versionDate="2023-07-13">
        <p>Permet d'afficher différentes lectures d'un mot ou d'un passage de texte en référence à un ou plusieurs
            autres documents. Doit suivre immédiatement le mot sans espaces.
        </p>
        <p>S'il existe plusieurs témoins de texte (originaux, copies) d'un morceau, l'autre témoin de texte peut être
            consulté en cas de lacune. Les écarts de contenu des autres originaux ou copies par rapport au modèle
            d'édition doivent être notés. Les écarts peuvent également être marqués avec deux originaux, de sorte que
            les deux versions ne doivent pas être transcrites.
        </p>
        <p>Pour les suppléments courts, par ex. B. une demi-phrase, vous pouvez vous débrouiller avec un
            <gi>lem</gi>
            vide (voir exemple ci-dessous). Dans le cas de suppléments plus longs ou d'ajouts provenant d'autres sources
            textuelles, il est toutefois conseillé de créer une pièce distincte pour eux. Les textes déjà édités d'un
            témoin de texte antérieur peuvent être omis avec <gi>gap</gi>. Cependant, il doit être référencé
            avec <att>source</att> au texte édité qui est omis. Une remarque (commentaire en <gi>back</gi>) est
            requise. Un <gi>lem</gi> vide peut également être utilisé lorsqu'un original a omis un mot ou une phrase
            qui était inclus dans un brouillon.
        </p>
        <p>Si un doublon ou une transcription comporte une omission importante (c'est-à-dire qu'un mot ou une phrase a
            été omis), un <gi>rdg</gi> vide peut être remplacé (voir l'exemple ci-dessous). Pour les lectures
            alternatives d'autres éditions ou de la littérature moderne, en revanche, <gi>note</gi> avec
            <gi>quote</gi>
            est utilisé. En règle générale, les écarts de transcription par rapport aux pièces sources déjà éditées ne
            sont pas signalés. Si la nouvelle édition diffère sensiblement en termes de contenu ou de lecture, une
            <gi>note</gi>
            est requise. Les écarts dans l'orthographe d'un autre original ou de copies ne doivent
            également être notés que s'ils fournissent des informations supplémentaires.
        </p>
        <p>S'il existe plusieurs originaux, les critères ayant contribué au choix du modèle d'édition doivent être
            précisés dans un commentaire en <gi>back</gi> si possible. Il en va de même pour les copies. Attention :
            les revers sont considérés comme des traditions indépendantes.
        </p>
        <p>Si une partie d'un original n'est plus lisible en raison d'un dommage, la perte de texte peut être complétée
            à l'aide d'un autre témoin de texte. Au lieu d'utiliser <gi>app</gi> et <gi>rdg</gi>, nous utilisons
            <gi>damage</gi>
            avec <gi>supplied</gi>.
        </p>
    </remarks>
    <remarks xml:lang="it" versionDate="2023-07-13">
        <p>Permette di visualizzare diverse letture di una parola o di un passaggio di testo con riferimento ad un altro
            documento o documenti. Deve seguire immediatamente la parola senza spazi.
        </p>
        <p>Se ci sono più testimoni testuali (originali, copie) di un pezzo, l'altro testimone testuale può essere
            consultato se c'è una lacuna. Devono essere annotate le deviazioni nel contenuto degli altri originali o
            copie dal modello di edizione. Le deviazioni possono anche essere contrassegnate con due originali, in modo
            che entrambe le versioni non debbano essere trascritte.
        </p>
        <p>Per brevi supplementi, ad es. B. mezza frase, puoi cavartela con un <gi>lem</gi> vuoto (vedi esempio sotto).
            Nel caso di integrazioni più lunghe o da altre fonti testuali, tuttavia, è consigliabile creare un pezzo
            separato per esse. I testi già modificati di un testimone testuale precedente possono essere omessi
            con <gi>gap</gi>. Tuttavia, deve essere referenziato con <att>source</att> al testo modificato che viene
            omesso. È richiesta un'osservazione (commento in <gi>back</gi>). Un <gi>lem</gi> vuoto può essere
            utilizzato anche quando un originale ha omesso una parola o una frase che era inclusa in una bozza.
        </p>
        <p>Se un duplicato o una trascrizione presenta un'omissione significativa (ovvero, una parola o una frase è
            stata omessa), è possibile sostituire un <gi>rdg</gi> vuoto (vedere l'esempio seguente). Per letture
            alternative da altre edizioni o dalla letteratura moderna, invece, si usa
            <gi>note</gi>
            con <gi>quote</gi>. Di regola non sono indicate le deviazioni nella trascrizione da brani originali già
            editi. Se la nuova edizione differisce significativamente in termini di contenuto o lettura, è richiesta
            una <gi>note</gi>. Anche le deviazioni nell'ortografia di un altro originale o copie devono essere annotate
            solo se forniscono ulteriori approfondimenti.
        </p>
        <p>Se ci sono più originali, i criteri che hanno contribuito alla selezione del modello di edizione dovrebbero,
            se possibile, essere spiegati in un commento in <gi>back</gi>. Lo stesso vale per le copie. Attenzione:
            i rovesci sono considerati tradizioni indipendenti.
        </p>
        <p>Se una parte di un originale non è più leggibile a causa di un danneggiamento, la perdita del testo può
            essere integrata con l'aiuto di un altro testimone del testo. Invece di usare <gi>app</gi> e <gi>rdg</gi>,
            usiamo <gi>damage</gi> insieme a <gi>supplied</gi>.
        </p>
    </remarks>
</elementSpec>