<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://jenkins.tei-c.org/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/release/xml/tei/odd/p5.nvdl" type="application/xml" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>

<elementSpec xmlns="http://www.tei-c.org/ns/1.0" ident="app" module="textcrit" mode="change">
    <desc xml:lang="de" versionDate="2023-04-27">
        <gi>app</gi>
        ermöglicht verschiedene Lesarten eines Textabschnittes
        anzuzeigen unter Bezugnahme auf ein anderes Dokument oder mehrere andere Dokumente.
    </desc>
    <desc xml:lang="en" versionDate="2023-04-27">
        <gi>app</gi>
        allows displaying different readings of a passage of text
        with reference to another document or documents.
    </desc>
    <desc xml:lang="fr" versionDate="2023-04-27">
        <gi>app</gi>
        permet d'afficher différentes lectures d'un passage de
        texte en référence à un ou plusieurs autres documents.
    </desc>
    <classes mode="replace">
        <memberOf key="att.global"/>
        <memberOf key="member.global.edit"/>
    </classes>
    <content>
        <sequence>
            <elementRef key="lem" minOccurs="1" maxOccurs="1"/>
            <elementRef key="rdg" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </content>
    <attList>
        <attDef ident="n" mode="delete"/>
    </attList>
    <exemplum type="ssrq-doc-example" versionDate="2023-05-02">
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
            <app>
                <lem>lxxxvij</lem>
                <rdg wit="#ad28656b-5c8d-459c-afb4-3e6ddf70810d #ad28656b-5c8d-459c-afb4-3e6ddf70810e">
                    quadringentesimo
                </rdg>
            </app>
        </egXML>
    </exemplum>
    <exemplum type="ssrq-doc-example" versionDate="2023-05-02">
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
            <app>
                <lem>lxxxvij</lem>
                <rdg wit="#ad28656b-5c8d-459c-afb4-3e6ddf70810d #ad28656b-5c8d-459c-afb4-3e6ddf70810e">
                    quadringentesimo
                </rdg>
                <rdg wit="#ad28656b-5c8d-459c-afb4-3e6ddf70810f">lxxxiiij</rdg>
            </app>
        </egXML>
    </exemplum>
</elementSpec>