<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.tei-c.org/ns/1.0">
  <egXML xmlns="http://www.tei-c.org/ns/Examples" xml:id="ex-app-rdg">
    <app>
      <lem>lxxxvii</lem>
      <rdg wit="id-ssrq-ad28656b-5c8d-459c-afb4-3e6ddf70810d id-ssrq-ad28656b-5c8d-459c-afb4-3e6ddf70810e#3">
            quadringentesimo
        </rdg>
      <rdg wit="id-ssrq-ad28656b-5c8d-459c-afb4-3e6ddf70810f">lxxxiiii</rdg>
    </app>
  </egXML>
  <egXML xmlns="http://www.tei-c.org/ns/Examples" xml:id="ex-app-note">
    <app>
      <lem>graffschafft und gericht fuͤren oder ob man <lb/>jemant da fachen
                und usser miner herren <term ref="lem003769.02">biet</term> fuͤren
                welte</lem>
      <rdg wit="id-ssrq-ad28656b-5c8d-459c-afb4-3e6ddf70810d">ampt unnd <lb/>gepiet
                fachen oder füerenn</rdg>
      <note type="text_comparison">
        <ref target="urn:ssrq:SSRQ-SG-III_4-129-1">SSRQ-SG-III_4-129-1, Art. 2</ref>
        <orig>ampt unnd <lb/>gepiet
                    fachen oder füerenn</orig>
      </note>
    </app>
  </egXML>
  <egXML xmlns="http://www.tei-c.org/ns/Examples" xml:id="ex-app-without-lem">
    <app>
      <rdg wit="id-ssrq-ad28656b-5c8d-459c-afb4-3e6ddf70810d">Da aber ein urteil gfellt wird vom
            gricht, mag derselben bschwerliche teill da <lb/>danen vorr einen
              <abbr>hrn</abbr> landvogt <term ref="lem001043">appellieren</term>. Da auch
            volgendts daselbsten denen widerumb <lb/>der beschwerte zum appellaz ußspruch
            mit seiner gegenwartt für mein gned<lb break="no"/>ig herren unnd weiter nicht
            kommen.</rdg>
    </app>
  </egXML>
  <egXML xmlns="http://www.tei-c.org/ns/Examples" xml:id="ex-app-lem-space">
    <app>
      <lem>
        <space quantity="1" unit="word"/>
      </lem>
      <rdg wit="id-ssrq-4e7a04fd-4943-4e71-bfe1-c245e497c413">février</rdg>
    </app>
  </egXML>
</div>
