<?xml version="1.0" encoding="UTF-8"?>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
  <app>
    <lem>lxxxvii</lem>
    <rdg wit="id-ssrq-ad28656b-5c8d-459c-afb4-3e6ddf70810d id-ssrq-ad28656b-5c8d-459c-afb4-3e6ddf70810e">
            quadringentesimo
        </rdg>
    <rdg wit="id-ssrq-ad28656b-5c8d-459c-afb4-3e6ddf70810f">lxxxiiii</rdg>
  </app>
</egXML>
